# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Web applications\JavaEE_HomeTask1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
